.cell {
    /* display: inline-block; */
    /* border: 1px solid black; */
    display: flex; 
    justify-content: center; 
    align-items: center; 
    /* border: 1px solid #1eb980; */
    width: 100%; 
    height:100%; 
  }

  .cell:hover {
    cursor: pointer;
  }
  
  .clicked {
    background-color: blue;
  }
  