.cell {
    /* display: inline-block; */
    /* border: 1px solid black; */
    display: flex; /* Use flexbox to ensure proper layout */
    justify-content: center; /* Center content horizontally */
    align-items: center; /* Center content vertically */
    /* border: 1px solid #1eb980; */
    width: 100%; /* Ensure the div takes full width of the parent td */
    height:100%; /* Ensure the div takes full height of the parent td */
  }

  .cell:hover {
    cursor: pointer;
  }
  
  .clicked {
    background-color: blue; /* Change color when clicked */
  }
  