.chatBox {
    position: absolute;
    width: 700px;
    height: 500px;
    border: 5px solid #1eb980;
    color: white;
    margin-left: 62.8rem;
    margin-top: -32.8rem;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
  }
  
  .chatHeader {
    background-color: #106e4b;
    padding: 10px;
    border-bottom: 1px #106e4b;
  }
  
  .chatHeader h2 {
    margin: 0;
  }
  
  .chatBody {
    flex: 1;
    overflow-y: auto;
    padding-bottom: 50px;
    padding-left: 10px;
  }

  .chatFooter {
    margin-top: 460px;
    position: absolute;
    flex-shrink: 0;
    width: 900px;
  }

  .chatButton {
    background-color: #1eb980;
    color: white;
  }
  