.chatBox {
    position: absolute;
    width: 600px;
    height: 400px;
    border: 5px solid #1eb980;
    color: white;
    margin-left: 54.8rem;
    margin-top: -26rem;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
  }
  
  .chatHeader {
    background-color: #106e4b;
    padding: 10px;
    border-bottom: 1px #106e4b;
  }
  
  .chatHeader h2 {
    margin: 0;
    font-size: 30px;
  }
  
  .chatBody {
    flex: 1;
    overflow-y: auto;
    padding-bottom: 50px;
    padding-left: 10px;
  }

  .chatFooter {
    margin-top: 22.5rem;
    position: absolute;
    flex-shrink: 0;
    width: 900px;
  }

  .chatButton {
    background-color: #1eb980;
    color: white;
  }
  