/* .grid {
  display: flex;
  justify-content: center;
  width: 50px;
  height: 50%;
  align-items: center;
  color: black;
  padding: 0px;
} */


table {
  border-collapse: collapse;
}

.emptycell {
  border: none;
}

.coordNums {
  color: #1eb980;
  border: none;
}

.coordLetters {
  color: #1eb980;
  border: none;
  justify-content: space-between;
  padding: 10px;
  
}
.coordLetters > div {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
}


th, td {
  border: 1px solid #1eb980;
  padding: 0px;
  height: 75px;
  width: 75px ;
  text-align: center;
}

.cell {
  cursor: pointer;
}