.button {
  position: absolute;
  margin-left: 73.5rem;
  margin-top: -35rem;
  width: 286px;
  height: 140px;
  font-size: 30px; 
  background-color: #1eb980;
  color: white;
  display: flex; 
  justify-content: center;
  align-items: center; 
  border: none;
  border-radius: 0.625rem; 
  cursor: pointer;
  }
  
  .button:hover {
    background-color: #17a668;
  }
  