.usersBox {
    position: absolute;
    width: 330px;
    height: 180px;
    border: 5px solid #1eb980;
    color: white;
    margin-left: 56%;
    margin-top: -39%;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .usersHeader {
    background-color: #106e4b;
    padding: 10px;
    border-bottom: 1px solid #106e4b;
  }
  
  .usersHeader h2 {
    margin: 0;
  }
  
  .usersBody {
    padding: 10px;
  }
  