.usersBox {
    position: absolute;
    width: 330px;
    height: 180px;
    border: 5px solid #1eb980;
    color: white;
    margin-left: 62.8rem; /* 56% of the viewport width */
    margin-top: -44.4375rem; /* -39% of the viewport height */
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
  }
  
  .usersHeader {
    background-color: #106e4b;
    padding: 10px;
    border-bottom: 1px solid #106e4b;
  }
  
  .usersHeader h2 {
    margin: 0;
  }
  
  .usersBody {
    padding: 10px;
  }