body {
    background-color: #26272E; 
    color: #ffffff; 
    margin: 0; 
    padding: 0; 
    height: 100%;
}

#root {
    height: 100%;
}

.dark-theme {
    background-color: #26272E;
    color: #ffffff;
}

.dark-theme input, .dark-theme .form-control {
    background-color: #D3D3D3;
    color: #4D5153;
    border-color: #444444; 
}

.dark-theme .form-check-input:checked {
    background-color: #045d56;
    border-color: #045d56;
}

.dark-theme .form-check-label {
    color: #ffffff; 
}