.battlefield {
  display: flex;
  justify-content: center;
  margin-right: 5rem;
  width: 70%;
  align-items: center;
  color: black;
  padding: 1%;
  overflow: hidden;
  border: none;
}

table {
  border-collapse: collapse;
}

.emptycell {
  border: none;
}

.coordNums {
  color: #1eb980;
  border: none;
}

.coordLetters {
  color: #1eb980;
  border: none;
}
.coordLetters > div {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
}


th, td {
  border: 1px solid #1eb980;
  padding: 0px;
  height: 30px;
  width: 30px;
  text-align: center;
}

.gCells {
  border: 1px solid #1eb980;
  padding: 0px;
  height: 50px;
  width: 50px;
  text-align: center;
}


.cell {
  cursor: pointer;
}