.grid {
	justify-content: center;
	height: 100%;
}

.grid table {
	height: 100%;
	aspect-ratio: 1;
	border-collapse: collapse;
}

.emptyCell {
	border: none;
}

.coordNums,
.coordLetters {
	color: #1eb980;
	border: none;
}

.grid th,
.grid td {
	overflow: hidden;
	border: 1px solid #1eb980;
}

th {
	padding: 1rem;
	text-align: center;
}

td {
	aspect-ratio: 1;
}
