.shipPlacement {
	display: flex;
	height: 100vh;
	width: 100vw;
}

.shipPlacement h2,
.shipPlacement h3,
.shipPlacement h4,
.shipPlacement h5 {
	color: #1eb980;
}

.shipPlacement button {
	background-color: #1eb980;
}
